
/* Starting Tabs */
.tab-links
{
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    /*height: 42px;*/
}

/*----- Tab Links -----*/
.tab-links:after
{
    display: block;
    clear: both;
    content: '';
}

.tab-links li
{
    margin: 0 4px 0 0;
    float: left;
    list-style: none;
    position: relative;
}

.tab-links a
{
    /*padding: 12px 20px;*/
    padding:8px 20px;
    display: inline-block;
    /*background: #23AED8;*/
    background:#2335B5;
    font-size: 10px;
    font-weight: 600;
    transition: all linear 0.15s;
    color: #FFF;
    text-decoration: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.tab-links a:hover
{
   /* background: #a7cce5;*/
   background:#2007F1;
    text-decoration: none;
}

li.active a, li.active a:hover
{
    background: #fff;
    color: #23AED8;
    border: 1px solid #23AED8;
    border-bottom: 1px solid #FFF;
    z-index: 4;
    padding: 12px 20px;
}

/* Starting Tabs 1 */
.tab-links1
{
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e9e9e9;
    height: 40px;
}
.tab-links1:after
{
    display: block;
    clear: both;
    content: '';
}

.tab-links1 li
{
    margin: 0 4px 0 0;
    float: left;
    list-style: none;
    position: relative;
}

.tab-links1 a
{
    padding: 12px 20px;
    display: inline-block;
    background: #23AED8;
    font-size: 12px;
    font-weight: 600;
    transition: all linear 0.15s;
    color: #FFF;
    text-decoration: none;
}

.tab-links1 a:hover
{
    background: #a7cce5;
    text-decoration: none;
}

.disable
{
    background-color: #dddddd !important;
    color: rgb(211, 209, 209);
}

/*----- Content of Tabs -----*/
.tab-content
{
    padding: 15px;
    background: #fff;
    height: 390px;
    border: 1px solid #23AED8;
    border-top: none;
}

.tab
{
    display: none;
    height: 360px;
    overflow-y: auto;
}

.tab.active
{
    display: block;
}

.prev
{
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px;
    background: #23AED8;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    transition: all linear 0.15s;
    position: absolute; /*bottom: 5px;*/
    right: 65px;
}

.prev hover
{
    background: #a7cce5;
    text-decoration: none;
}

.next
{
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px;
    background: #23AED8;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    transition: all linear 0.15s;
    position: absolute; /*bottom: 5px;*/
    right: 5px;
}

.next hover
{
    background: #a7cce5;
    text-decoration: none;
}
/* End of Tabs */

#rdQuestionList
{
    padding: 10px;
}

/* Top Menu Css */
#menu
{
    width: auto; /*---Give our UL a width ---*/
    list-style: none; /*--- Makes the bullets go away ---*/
    margin: 0; /*--- Take out any default margin on the UL tag ---*/
    padding: 0; /*--- Take out any default padding on the UL tag ---*/
    margin: 0 auto; /*--- Center the menu ---*/
    float: right;
    display: inline;
}

#menu li
{
    float: left; /*--- Make the list go horizontal ---*/
    margin: 0;
    padding-right: 5px;
}

#menu li a
{
    display: block; /*--- Make the entire button are clickable rather than the text alone ---*/ /*text-indent: -9999px;*/ /*--- Push the text off screen to hide text---*/ /*overflow: hidden;*/ /*--- Makes text outside of bounding box hidden ---*/
    height: 30px; /*background-color: rgb(24, 21, 150);*/
    /*background-color: #23AED8;*/
    background:#2335B5;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size:10px;
    font-weight: bold;
    width: 70px;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    
}
#menu li a:hover
{
    /*background-color:rgb(42, 37, 226);*/
    /*background-color: #C5E1F4;*/
     background:#2007F1;
}
#menu li:hover ul
{
    display: block;
}
#menu li ul
{
    list-style: none; /*--- Makes the bullets go away ---*/
    margin: 0; /*--- Take out any default margin on the UL tag ---*/
    padding: 0; /*--- Take out any default padding on the UL tag ---*/
    margin: 0 auto; /*background-color:rgb(24, 21, 150);*/
    background-color: #23AED8;
    display: none;
    position: absolute;
    z-index: 99999;
}
#menu li ul li
{
    clear: both;
    padding-right: 0px;
}
#menu li ul li a
{
    height: auto;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 80px;
    text-align: center;
    background:#2335B5;
     border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}
#menu li ul li a:hover
{
    /*background-color:rgb(42, 37, 226);*/
    /*background-color: #C5E1F4;*/
     background:#2007F1;
}

.tax_css
{
    border: 1px solid #005E7B;
    border-top: none;
    clear: both;
    min-width: 400px;
    width: 34%;
    position: absolute;
    margin: -5px 0 0 13px;
    padding: 0 0 10px 0;
    background-color: #FFF;
    z-index: 999;
    display: none;
    font-size: 12px;
    color: #005E7B;
}
.dayClass
{
}

.tab_content_tree
{
    padding: 15px;
    overflow-y: auto;
    height: 320px;
}
.tab-botton_box
{
    background: #F8F8F8;
    padding: 10px;
    text-align: right;
    border-top: 1px solid #CCC;
}
.filter
{
    position: absolute;
    background-color: aliceblue;
    width: 250px;
    height: auto;
    border: 1px solid rgb(124, 181, 236);
    box-shadow: 2px 2px 2px 1px rgb(124, 181, 236); /*  float: left;*/ /*left: 180px;*/ /*top: -10px;*/
    z-index: 999;
    color: black;
    font-size: 11px;
}
/* Model Popup */
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* For button Image */
.btn
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: Blue;
    color: White;
    text-decoration: none;
}


fieldset.scheduler-border
        {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 0em 1.4em !important;
            margin: 0 0 0em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }
        
        legend.scheduler-border
        {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
.highlight {
    color:red;
}
.panel-body {
    background-color: #fff;
    height: 178px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 0;
    text-align: center;
}

    .panel-body p {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-top: 12%;
        font-family: 'avantgarde_bk_btbook';
        font-weight: bold;
        font-size: 14px;
        padding: 6px 10px;
        width: auto;
        color: #DAD9D9;
        border: 1px solid #e9e9e9;
        /*letter-spacing: .1em;*/
        cursor: hand;
    }
.panel-default 
{
    display: block;
    width: 100%;
    margin: 5px;
    float: left;
    text-align: center;
    margin-left: 0%;
    margin-bottom: 2px;
    background-color: #FFF;
}
.panel-heading {
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
    border-bottom: 1px solid transparent;
    padding: 0px 0px; 
}

    .panel-heading span {
        color: #767676;
        /*font-family: 'avantgarde_bk_btbook';*/
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        padding: 4px 8px;
        float: left;
        min-height:42px;
        font-size:10px;
    }

    .panel-heading .icons {
        float: right;
    }
    .two{
    width: 49%;
}
.three{
    width: 32.333333333333336%;
}